<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UBER</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        /* body {
            font-family: Arial, Helvetica, sans-serif;
        } */
        nav {
            /* display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: black; /* Set the background color of nav */
            /* color: silver;
            padding: -1px 20px;
            border: none; */ 
    overflow: hidden;
    background-color: black;
    margin-inline: 22px;
    margin-top: 2px;
    position: fixed;
    width: calc(100% - 50px);
    height:  44px;
    top: 0;
    z-index: 100;
    border: 9px solid black;
        }

        .topnav {
            overflow: hidden;
    background-color: black;
    margin-inline: 22px;
    margin-top: 2px;
    position: fixed;
    width: calc(100% - 44px);
    height:  44px;
    top: 0;
    z-index: 100;
    border: 1px solid black; 
    
        }
         .topnav a {
            float: right;
            color: silver;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        } 
         .topnav a.active {
            background-color: black;
            color: silver;
        } 
        nav {
            display: flex;
            justify-content: space-around;
            background-color: black;
            color: silver;
        }
        nav .right, nav .left {
            display: flex;
        }
        .left img {
            margin-top: -11px;
            width: 100%;
        }
        .left p {
            margin-inline: 22px;
            margin-top: 21px;
        }
        .right a, .right i, .right button {
            margin-inline: 22px;
            margin-top: 21px;
        }
         .right button {
            width: 100px;
            height: 36px;
            background-color:silver;
            color: black;
            font-weight: 600;
            border: none;
            border-radius: 22px;
        } 
        .right button:hover {
            background-color: transparent;
            color: silver;
            border: 2px solid silver;
        }
        .card {
            background-image: url(https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_1098,h_618/v1613521717/assets/7a/fd8982-6884-49b9-bb5f-28e6ff2cc0e8/original/Rider_Home_bg_tablet.png);
            background-repeat: no-repeat;
            background-size: cover;
            height: 600px;
            padding: 3%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .main {
            background-color: silver;
            position: relative;
            border-radius: 10px;
            background-color: silver;
            padding: 20px 0 30px 0;
            top: 15%;
            width: 30%;
            margin: 50px;
            margin-top: 1px;
            text-align: center;
        }
        .container {
            padding: 20px;
        }
        .form-container {
            display: none;
        }
        .form-container.active {
            display: block;
        }
        .navigation {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        .navigation i {
            margin: 0 10px;
            font-size: 24px;
            cursor: pointer;
            color: black;
        }
        .navigation i:hover {
            color:black;
        }
        .fr {
            margin: 5px;
            padding: 10px 20px;
            background-color:black;
            color: silver;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .fr:hover {
            background-color:black;
        }
        .card h1 {
            font-size: 33px;
            text-align: center;
        }
        .card input {
            width: 330px;
            height: 30px;
            background-color:silver(235, 232, 232);
            padding: 8px;
            margin-top: 4px;
            border: none;
            margin-left: 33px;
        }
        .card .btn {
            margin-left: 33px;
            margin-top: 44px;
        }
        .card .btn .fr, .card .btn button {
            width: 140px;
            height: 36px;
            background-color: black;
            color: silver;
            border: none;
            border-radius: 4px;
            margin-inline: 10px;
        }
        .card .btn button {
            background-color:silver(190, 188, 188);
        }
        .ride .uber {
            display: flex;
            justify-content: space-around;
        }
        .uber .auto {
            display: flex;
            margin-top: 33px;
        }
        .uber .auto img {
            margin-inline: 33px;
            width: 43px;
        }
    </style>
</head>
<body>
    <nav>
        <div class="left"> 
            <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_84,h_84/v1618459257/assets/13/6bfdbd-cdb6-4221-92c1-cab1feaa39f3/original/Rider-App-logo.png">
        </div>
        
        <div class="topnav" >
            <a href="#">EN</a>
            <a href="/products">Products</a>
            <a href="/login">Login</a>
            <a href="/signuppage">Sign-up</a>
        </div>
    </nav>
    <div class="card">
        <div class="main">
            <div class="navigation">
                <i id="slideForm1" class="fas fa-car" onclick="showForm('form1')" style="gap: 10px;"></i>
                <i id="slideForm2" class="fas fa-map-marker-alt" onclick="showForm('form2')"></i>
            </div>
            <div class="container form-container active" id="form1">
                <h1>Request a ride now</h1><br>
                <input type="text" placeholder="Enter the pickup location"><br><br>
                <input type="text" placeholder="Enter Destination">
                <div class="btn"><a href="riderlocation">
                    <button class="fr" type="submit">Request Now</button></a>
                    <a href="riderlocation"> <button class="fr" type="submit">See Prices</button></a>
                </div>
            </div>
            <div class="container form-container" id="form2">
                <h1>Drive when you want...</h1><br>
                <input type="text" placeholder="Enter the current location"><br><br>
                <div class="btn">
                    <a href="driverlocation"><button class="fr" type="submit">Get Started</button></a>
                   <a href="driverlogin"> <button class="fr" type="submit">Login</button></a>
                </div>
            </div>
        </div>
    </div>


        <div class="head">
            <center>
                <h1>Ride with Uber</h1>
            </center>
        </div>
        <div class="ride">
            <div class="uber">
                <div class="auto">
                    <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_84,h_84/v1649914471/assets/89/8e4239-5e7d-4de7-bf71-00cc32d468db/original/Auto-150X150p4x.png" alt="auto">
                    <div>
                        <h2> Auto</h2>
                        <p>Get affordable uber auto ride with no haggling.</p>
                    </div>
                </div>
                <div class="auto">
                    <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_84,h_84/v1649914539/assets/86/82f8b3-e2e6-45f8-a8f7-fdc511f709e0/original/Moto-150X150p4x.png" alt="bike">
                    <div>
                        <h2> Moto</h2>
                        <p>Get affordable uber auto ride with no haggling.</p>
                    </div>
                </div>
            </div>
            <div class="uber">
                <div class="auto">
                    <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_84,h_84/v1630531077/assets/38/494083-cc23-4cf7-801c-0deed7d9ca55/original/uber-hourly.png" alt="car">
                    <div>
                        <h2> Hourly</h2>
                        <p>Get affordable uber auto ride with no haggling.</p>
                    </div>
                </div>
                <div class="auto">
                    <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_84,h_84/v1649914597/assets/f7/7f583f-447a-4cf7-8da6-6ad254f0a66b/original/Intercity-150X150p4x.png" alt="car">
                    <div>
                        <h2>Intercity</h2>
                        <p>Get affordable uber auto ride with no haggling.</p>
                    </div>
                </div>
            </div>
            <div class="head">
                <center>
                    <h1>Focused on safety, wherever you go</h1>
                </center>
            </div>
        </div>
    </div>

<script>
    function showForm(formId) {
        const form1 = document.getElementById('form1');
        const form2 = document.getElementById('form2');
        form1.classList.remove('active');
        form2.classList.remove('active');
        document.getElementById(formId).classList.add('active');
    }
    document.addEventListener('DOMContentLoaded', function() {
        showForm('form1');
    });
</script>
</body>
</html>
