<!DOCTYPE html>
<html>
    <title>
        PRODUCTS</title>
        <head>
            Available apps
        </head>
<body>
    <a href ="/riderlocation">RIDER</a>
    <a href="/driverlocation">DRIVER</a>
</body>
